@font-face {
  font-family: "MiFuenteEthereal";
  src: url("src\components\assets\font\Fontspring-DEMO-theseasons-lt.otf")
    format("otf");
}
.fontEthereal {
  font-family: "MiFuenteEthereal", sans-serif;
}
.logo {
  margin-left: 50px;
}
#sinPuntos {
  list-style-type: none;
}
.navBox {
  margin-right: 50px;
}
.containerNav {
  background-color: rgb(51, 51, 51);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuNav {
  display: contents;
  font-size: 20px;
}

.menuItem {
  color: white;
  text-decoration: none;
  padding: 15px;
  &:hover {
    color: #bfa082;
  }
}
