.boxProduct {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.productDetailContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}
.product {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.imgProductDetail {
  height: 390px;
}

/*MEDIA QUERY*/
@media (max-width: 768px) {
  .imgProductDetail {
    height: 190px;
  }
  #detailTitle {
    font-size: larger;
  }
  #cardProduct {
    padding-bottom: 0px;
  }
}
